<% unless @page < 2 %>
  <%= link_to 'Previous page', page: (@page - 1) %>
<% end %>

<% unless (@page < 2) || Status.total < (@page * 25) %>
 | 
<% end %>

<% unless Status.total < (@page * 25) %>
  <%= link_to 'Next page', page: (@page + 1) %>
<% end %>

<% @statuses.each do |s| %>
  <%= div_for s do %>
    <p><%= s.body %></p>
  <% end %>
<% end %>